@font-face {
  font-family: "Inter";
  src: url("./../assets/fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./../assets/fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./../assets/fonts/Inter-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

:root {
  --container--width: 1440px;

  --text-dark: #403F3D;
  --text-light: #E1D4C9;
  --text-accent: #B0907A;

  --background-body: #E1D4C9;
  --background-container: #665F55;
  --background-backdrop: rgba(64, 63, 61, 0.8);

  --border-light: #C1B6AD;
  --border-dark: #665F55;
}

body {
  font-family: "Inter", arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--background-body);
  color: var(--text-dark);
}

/* Скрыть только вертикальный скроллбар, но оставить возможность прокрутки */
body {
  overflow-y: scroll; /* Всегда показывать вертикальный скроллбар */
  scrollbar-width: none; /* Скрыть стандартный скроллбар в Firefox */
}

/* Скрыть стандартный скроллбар в Chrome, Safari и Edge */
body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

.hidden {
  display: none;
}

.container {
  width: 100%;
  max-width: var(--container--width);
  margin-left: auto;
  margin-right: auto;
  padding-right: 40px;
  padding-left: 40px;
}

.body-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo {
  z-index: 2;
  width: 100%;
  max-width: 100px;
  height: 60px;
  transition: opacity .5s ease-out;
}

.logo:active {
  opacity: 0.5;
}

.logo:focus {
  opacity: 0.5;
}

.header__navigation-wrapper {
  display: flex;
  flex-grow: 1;
}

.navigation {
  width: 100%;
  max-width: 1188px;
}

.navigation__list {
  display: flex;
  justify-content: center;
  column-gap: 40px;
}

.navigation__link {
  position: relative;
  font-weight: 600;
  color: var(--text-dark);
  transition: opacity .5s ease-out;
}

.navigation__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: var(--text-dark);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform .5s ease-out;
}

.navigation__link:active {
  opacity: 0.5;
}
.navigation__link:focus {
  opacity: 0.5;
}

.menu-link {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 72px;
  margin-left: auto;
  font-weight: 600;
  color: var(--text-dark);
  transition: opacity .5s ease-out;
}

.menu-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: var(--text-dark);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform .5s ease-out;
}

.menu-link:active {
  opacity: 0.5;
}

.menu-link:focus {
  opacity: 0.5;
}

.menu-link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: var(--text-dark);
  transform: scaleX(1);
  transform-origin: center;
  transition: transform .5s ease-out;
}

.hamburger {
  position: relative;
  z-index: 2;
  display: none;
  width: 44px;
  height: 44px;
  padding: 0;
  background-color: var(--background-body);
  border: 1px solid var(--border-dark);
  border-radius: 50%;
  transition: background-color .5s ease-out, stroke .5s ease-out;
}

.hamburger__line {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 17px;
  height: 2px;
  background-color: var(--text-dark);
  transition: transform .5s, opacity .5s;
  will-change: transform;
}

.hamburger__line:nth-child(1) {
  transform: translate(-50%, -5px);
}

.hamburger__line:nth-child(2) {
  transform: translate(-50%, 3px);
}

body.open .hamburger__line:nth-child(1) {
  transform: translate(-50%, -1px) rotate(-225deg);
}

body.open .hamburger__line:nth-child(2) {
  transform: translate(-50%, -1px) rotate(225deg);
}

.hero {
  overflow:hidden;
  position: relative;
  margin-bottom: 100px;
  color: var(--text-light);
}

.hero__video {
  object-fit: cover;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 80px);
  height: 100%;
  background-image: url('./../assets/index/hero/hero-desktop-cover@1x.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 40px;
  transform: translate(-50%, -50%);
}

.hero__wrapper {
  padding-top: 101px;
  padding-right: 100px;
  padding-bottom: 100px;
  padding-left: 100px;
}

.hero__slogan {
  width: 100%;
  max-width: 530px;
  margin-bottom: 40px;
  font-size: 72px;
  font-weight: 600;
  line-height: 1.05;
}

.hero__slogan-accent {
  font-style: italic;
  color: var(--text-accent);
}

.hero__text {
  width: 100%;
  max-width: 530px;
  margin-bottom: 40px;
}

.hero__link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 64px;
  font-weight: 600;
  background-color: var(--background-body);
  color: var(--text-dark);
  border-radius: 100px;
  transition: background-color .5s ease-out;
}

.hero__link-text {
  transition: transform .5s ease-out,color .5s ease-out;
}

.hero__link-icon {
  position: absolute;
  right: 30%;
  stroke: var(--text-dark);
  opacity: 0;
  transition: opacity .5s ease-out, stroke .5s ease-out;
}

.favorite-coffee {
  margin-bottom: 100px;
}

.favorite-coffee__title {
  margin-bottom: 40px;
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.25;
}

.favorite-coffee__title-accent {
  font-style: italic;
  color: var(--text-accent);
}

.slider {
  position: relative;
}

.slider__buttons-wrapper {
  position: absolute;
  top: 47%;
  left: 50%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1350px;
  transform: translate(-50%, -50%);
}

.slider__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: var(--background-body);
  border: 1px solid var(--border-dark);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color .5s ease-out, stroke .5s ease-out;
}

.slider__coffee-arrow-left-icon,
.slider__coffee-arrow-right-icon {
  stroke: var(--text-dark);
}

.slider__content-wrapper {
  position: relative;
  width: 100%;
  max-width: 480px;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
  overflow: hidden;
}

.slider__item {
  display: none;
  position: relative;
  animation: .5s ease-out;
}

.slider__item--active,
.slider__item--next {
  display: block;
}

.slider__item--next {
  position: absolute;
  top: 0;
  width: 100%;
}

.to-left {
  animation-name: left;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

.from-right {
  animation-name: right;
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

.slider__img {
  margin-bottom: 20px;
}

.slider__product-title {
  margin-bottom: 16px;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
}

.slider__product-description {
  margin-bottom: 16px;
  text-align: center;
}

.slider__product-price {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
}

.slider__pagination-list {
  display: flex;
  justify-content: center;
  column-gap: 12px;
}

.slider__pagination-item {
  display: block;
  width: 40px;
  height: 4px;
  background-color: var(--border-light);
  border-radius: 100px;
}

.slider__pagination-line {
  display: block;
  width: 0;
  height: 4px;
  background-color: var(--border-dark);
  border-radius: 100px;
}

.slider__pagination-item--active .slider__pagination-line {
  animation: pagination 5s linear;
}

@keyframes pagination {
  from {
    width: 0;
  }
  to {
    width: 40px;
  }
}

.about {
  margin-bottom: 100px;
}

.about__text {
  margin-bottom: 40px;
  font-size: 59.9px;
  font-weight: 600;
  line-height: 1.25;
}

.about__text--accent {
  font-style: italic;
  color: var(--text-accent);
}

.about__gallery {
  display: flex;
  column-gap: 40px;
}

.about__gallery-left-side,
.about__gallery-right-side {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.about__gallery-img-wrapper {
  overflow: hidden;
  width: 100%;
  max-width: 660px;
  border-radius: 20px;
}

.about__gallery-img {
  object-fit: cover;
  transform: scale(1.1);
  transition: transform .5s ease-out;
}

.mobile-app {
  display: flex;
  column-gap: 100px;
  margin-bottom: 100px;
}

.mobile-app__content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 630px;
}

.mobile-app__promo-title {
  margin-bottom: 40px;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.25;
}

.mobile-app__promo-title-accent {
  font-style: italic;
  color: var(--text-accent);
}

.mobile-app__promo-text {
  margin-bottom: 40px;
}

.mobile-app__links-wrapper {
  display: flex;
  column-gap: 20px;
}

.mobile-app__link {
  display: flex;
  column-gap: 8px;
  width: 200px;
  height: 64px;
  padding: 12px 20px;
  border: 1px solid var(--border-dark);
  border-radius: 100px;
  transition: background-color .5s ease-out, color 5s ease-out, fill .5s ease-out;
}

.mobile-app__apple-icon,
.mobile-app__google-icon {
  fill: var(--text-dark);
  transition: fill .5s ease-out;
}

.mobile-app__link-text {
  margin-bottom: 2px;
  font-size: 10px;
  font-weight: 600;
  line-height: 1.4;
  color: var(--text-dark);
  transition: color .5s ease-out;
}

.mobile-app__link-store {
  font-weight: 600;
  color: var(--text-dark);
  transition: color .5s ease-out;
}

.mobile-app__img-wrapper {
  width: 100%;
  max-width: 630px;
}

.mobile-app__img {
  object-fit: contain;
  width: 630px;
}

.footer {
  padding-bottom: 40px;
}

.contacts {
  display: flex;
  justify-content: space-between;
  column-gap: 100px;
  padding: 100px;
  background-color: var(--background-container);
  border-radius: 40px
}

.contacts__social-media {
  width: 100%;
  max-width: 530px;
}

.contacts__text {
  margin-bottom: 40px;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.25;
  color: var(--text-light);
}

.contacts__text-accent {
  font-style: italic;
  color: var(--text-accent);
}

.contacts__social-list {
  display: flex;
  column-gap: 12px;
}

.contacts__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 1px solid var(--border-light);
  border-radius: 50%;
  transition: background-color .5s ease-out;
}

.contacts__social-link svg {
  stroke: var(--text-light);
  transition: stroke .5s ease-out;
}

.contacts__meta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 530px;
}

.contacts__title {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
  color: var(--text-light);
}

.contacts__meta-list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.contacts__meta-item {
  display: flex;
  column-gap: 8px;
}

.contacts__address{
  font-style: normal;
}

.contacts__address-map-link {
  position: relative;
  display: flex;
  font-weight: 600;
  color: var(--text-light);
  transition: opacity .5s ease-out;
}

.contacts__address-map-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: var(--text-light);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform .5s ease-out;
}

.contacts__address-map-link:active {
  opacity: 0.5;
}

.contacts__address-map-link:focus {
  opacity: 0.5;
}

.contacts__address-map-link svg {
  margin-right: 8px;
}

.contacts__address-map-link pre {
  margin-top: 0;
  margin-bottom: 0;
  font: inherit;
}


.contacts__pin-alt-icon {
  margin-right: 4px;
}

.contacts__phone-icon {
  margin-right: 4px;
}

.contacts__phone-link {
  position: relative;
  font-weight: 600;
  color: var(--text-light);
  transition: opacity .5s ease-out;
}

.contacts__phone-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: var(--text-light);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform .5s ease-out;
}

.contacts__phone-link:active {
  opacity: 0.5;
}
.contacts__phone-link:focus {
  opacity: 0.5;
}

.contacts__schedule {
  font-weight: 600;
  color: var(--text-light);
}

.menu {
  margin-bottom: 100px;
}

.menu__text {
  width: 100%;
  max-width: 800px;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.25;
  color: var(--text-dark);
}

.menu__text-accent {
  font-style: italic;
  color: var(--text-accent);
}

.menu__navigation-list {
  display: flex;
  column-gap: 15px;
  width: 100%;
  max-width: 360px;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
}

.menu__navigation-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px 16px 8px 8px;
  background-color: var(--background-body);
  color: var(--text-dark);
  border-radius: 100px;
  border: 1px solid var(--border-light);
  transition: background-color .5s ease-out, color .5s ease-out;
}

.menu__navigation-button--current {
  color: var(--text-light);
  background-color: var(--background-container);
  cursor: default;
}

.menu__navigation-button--current .menu__navigation-icon-wrapper {
  background-color: var(--background-body);
}

.menu__navigation-icon-wrapper {
  pointer-events: none;
}

.menu__navigation-icon {
  pointer-events: none;
}

.menu__navigation-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 3px 7px;
  background-color: var(--border-light);
  border-radius: 50%;
  transition: background-color .5s ease-out;
}

.menu__products-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 310px;
  min-height: 505px;
  overflow: hidden;
  border: 1px solid var(--border-light);
  border-radius: 40px;
  cursor: pointer;
  animation: .5s linear 0s 1 forwards animated;
}

@keyframes animated {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.card__img-wrapper {
  overflow: hidden;
  border-radius: 40px;
}

.card__img {
  object-fit: cover;
  transform: scale(1.1);
  transition: transform .5s ease-out;
}

.card__meta {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.card__title {
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
}

.card__price {
  margin-top: auto;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
}

.menu__button {
  display: none;
}

.modal-open {
  /* height: 100vh; */
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  width: 100%;
  height: 100%;
  padding-top: 60px;
  overflow: auto;

  background-color: var(--background-backdrop);
}

.modal__preview {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  column-gap: 20px;
  width: 100%;
  max-width: 800px;
  padding: 16px;
  background-color: var(--background-body);
  border-radius: 40px;
  transform: translate(-50%, -50%);
}

.modal__img-wrapper {
  flex-shrink: 0;
  width: 310px;
  height: 310px;
  border-radius: 40px;
  overflow: hidden;
}

.modal__img {
  object-fit: cover;
  transform: scale(1.1);
  transition: transform .5s ease-out;
}

.modal__title {
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
}

.modal__text {
  margin-bottom: 20px;
}

.modal__form-group {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  padding: 0;
  font-weight: 600;
  border: none;
}

.modal__form-group:nth-child(1) .modal__form-group-title {
  margin-bottom: 6px;
  /* margin-bottom: 8px; */
}

.modal__form-group:nth-child(2) .modal__form-group-title {
  margin-bottom: 6px;
  /* margin-bottom: 8px; */
}

.modal__form-group-list {
  display: flex;
  column-gap: 7px;
  /* 8px */
}

.modal__form-group-input {
  display: none;
}

.modal__form-group-label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px 16px 8px 8px;
  background-color: var(--background-body);
  border-radius: 100px;
  border: 1px solid var(--border-light);
  transition: background-color .5s ease-out, color .5s ease-out;
  cursor: pointer;
}

.modal__form-group-input[type="radio"]:checked + .modal__form-group-label {
  background-color: var(--background-container);
  cursor: default;
}

.modal__form-group-size {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 3px 7px;
  background-color: var(--border-light);
  border-radius: 50%;
  transition: background-color .5s ease-out;
}

.modal__form-group-input[type="radio"]:checked + .modal__form-group-label .modal__form-group-size {
  background-color: var(--background-body);
}

.modal__form-group-input[type="radio"]:checked + .modal__form-group-label .modal__form-group-volume {
  color: var(--text-light);
}

.modal__form-group-input[type="checkbox"]:checked + .modal__form-group-label {
  background-color: var(--background-container);
  cursor: default;
}

.modal__form-group-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 3px 7px;
  background-color: var(--border-light);
  border-radius: 50%;
  transition: background-color .5s ease-out;
}

.modal__form-group-input[type="checkbox"]:checked + .modal__form-group-label .modal__form-group-number {
  background-color: var(--background-body);
}

.modal__form-group-input[type="checkbox"]:checked + .modal__form-group-label .modal__form-group-additive {
  color: var(--text-light);
}

.modal__price-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
  border-bottom: 1px solid var(--border-light, #C1B6AD);
}

.modal__disclaimer {
  display: flex;
  align-items: flex-start;
  column-gap: 8px;
  margin-bottom: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.modal__disclaimer-text {
  font-size: 10px;
  font-weight: 600;
  line-height: 1.40;
}

.modal__close-button {
  width: 100%;
  padding: 9px 78px;
  color: var(--text-dark, #403F3D);
  font-weight: 600;
  background-color: var(--background-body);
  border-radius: 100px;
  border: 1px solid var(--border-dark, #665F55);
  transition: background-color .5s ease-out, color .5s ease-out;
}

/* tablet 1280 */
@media (max-width: 1280px) {
  .mobile-app {
    flex-direction: column;
    align-items: center;
    row-gap: 100px;
  }

  .contacts {
    flex-direction: column;
    align-items: center;
    row-gap: 100px;
  }

  .menu__products-list {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}

/* tablet 1024 */
@media (max-width: 1024px) {
  .hero__wrapper {
    padding-right: 60px;
    padding-left: 60px;
  }

  .about__gallery {
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
  }

  .about__gallery-left-side .about__gallery-img-wrapper:nth-child(2) {
    display: none;
  }

  .about__gallery-right-side .about__gallery-img-wrapper:nth-child(1) {
    display: none;
  }

  .modal__preview {
    max-width: 688px;
  }

  .modal__form-group-list {
    flex-wrap: wrap;
    row-gap: 8px;
  }
}

/* tablet 768 */
@media (max-width: 768px) {
  .header {
    position: relative;
    justify-content: space-between;
  }

  .header__navigation-wrapper {
    z-index: 1;
    position: absolute;
    top: 0;
    right: -100%;
    flex-direction: column;
    align-items: center;
    row-gap: 100px;
    width: 100%;
    min-height: 1024px;
    margin-right: 0;
    padding-top: 21%;
    padding-bottom: 100px;
    background-color: var(--background-body);
    opacity: 0;
    transition: right .5s ease-out, opacity .5s ease-out;
  }

  body.open .header__navigation-wrapper {
    right: 0;
    opacity: 1;
  }

  .navigation {
    width: 100%;
  }

  .navigation__list {
    flex-direction: column;
    align-items: center;
    row-gap: 60px;
    font-size: 32px;
    line-height: 1.25;
  }

  .menu-link {
    width: initial;
    margin-left: initial;
    font-size: 32px;
    line-height: 1.25;
  }

  .menu-link__text {
    margin-right: 16px;
  }

  .menu-link__icon {
    width: 40px;
    height: 40px;
  }

  .hamburger {
    display: block;
  }

  .hero__link-text {
    transform: translate(-14px);
  }

  .hero__link-icon {
    transform: translateX(-4px);
    opacity: 1;
  }

  .about__gallery-left-side,
  .about__gallery-right-side {
    width: 100%;
  }

  .about__gallery-img-wrapper {
    max-width: none;
  }

  .about__gallery-img {
    width: 100%;
    transform: scale(1.05);
  }

  .mobile-app__content-wrapper {
    align-self: start;
    max-width: initial;
  }

  .contacts {
    align-items: start;
    padding-right: 60px;
    padding-left: 60px;
  }

  .menu__products-list {
    margin-bottom: 40px;
    padding-right: 14px;
    padding-left: 14px;
  }

  .card--hidden {
    display: none;
  }

  .menu__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--background-body);
    border: 1px solid var(--border-dark);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color .5s ease-out, stroke .5s ease-out;
  }

  .menu__button.hidden {
    display: none;
  }

  .menu__button-icon {
    stroke: var(--text-dark);
  }
}

/* tablet 700 */
@media (max-width: 700px) {
  .container {
    padding-right: 16px;
    padding-left: 16px;
  }

  .header__navigation-wrapper {
    min-height: 825px;
    padding-top: 42%;
  }

  .hero__video {
    width: calc(100% - 32px);
  }

  .hero__wrapper {
    padding: 60px 16px;
  }

  .hero__slogan {
    font-size: 42px;
    line-height: 1.15;
  }

  .favorite-coffee__title {
    font-size: 32px;
    line-height: 1.25;
  }

  .slider__buttons-wrapper {
    display: none;
  }

  .slider__content-wrapper {
    max-width: 348px;
  }

  .about__text {
    font-size: 32px;
    line-height: 1.25;
  }

  .about__gallery-img {
    transform: scale(1.24);
  }

  .mobile-app {
    row-gap: 40px;
  }

  .mobile-app__promo-title {
    font-size: 32px;
    line-height: 1.25;
  }

  .mobile-app__links-wrapper {
    flex-direction: column;
    row-gap: 20px;
  }

  .mobile-app__img {
    max-height: 348px;
  }

  .contacts {
    row-gap: 40px;
    padding: 60px 16px;
  }

  .contacts__text {
    font-size: 32px;
    line-height: 1.25;
  }

  .contacts__meta-list {
    row-gap: 19px;
  }

  .menu__text {
    font-size: 32px;
    line-height: 1.25;
  }

  .menu__navigation-list {
    display: flex;
    column-gap: 8px;
  }

  .menu__products-list {
    grid-template-columns: 1fr;
  }

  .modal__preview {
    max-width: 342px;
  }

  .modal__img-wrapper {
    display: none;
  }
}

@media (hover: hover) and (pointer: fine) {
  .navigation__link:hover::after {
    transform: scaleX(1);
  }

  .menu-link:hover::after {
    transform: scaleX(1);
  }

  .hero__link:hover .hero__link-text {
    transform: translate(-14px);
  }

  .hero__link:hover .hero__link-icon {
    opacity: 1;
  }

  .slider__button:hover {
    background-color: var(--background-container);
  }

  .slider__button--prev:hover .slider__coffee-arrow-left-icon {
    stroke: var(--background-body);
  }

  .slider__button--next:hover .slider__coffee-arrow-right-icon {
    stroke: var(--background-body);
  }

  .about__gallery-img-wrapper:hover .about__gallery-img {
    transform: scale(1);
  }

  .mobile-app__link:hover {
    background-color: var(--background-container);
  }

  .mobile-app__link:hover .mobile-app__link-text {
    color: var(--text-light);
  }

  .mobile-app__link:hover .mobile-app__link-store {
    color: var(--text-light);
  }

  .mobile-app__link:hover svg {
    fill: var(--text-light);
  }

  .contacts__social-link:hover {
    background-color: var(--background-body);
  }

  .contacts__social-link:hover svg {
    stroke: var(--text-dark);
  }

  .contacts__address-map-link:hover::after {
    transform: scaleX(1);
  }

  .contacts__phone-link:hover::after {
    transform: scaleX(1);
  }

  .menu__navigation-button:hover {
    color: var(--text-light);
    background-color: var(--background-container);
  }

  .menu__navigation-button:hover .menu__navigation-icon-wrapper {
    background-color: var(--background-body);
  }

  .card:hover .card__img {
    transform: scale(1);
  }

  .modal__img-wrapper:hover .modal__img {
    transform: scale(1);
  }

  .modal__close-button:hover {
    color: var(--text-light);
    background-color: var(--background-container);
  }

  @media (max-width: 768px) {
    .menu__button:hover {
      background-color: var(--background-container);
    }

    .menu__button:hover .menu__button-icon {
      stroke: var(--background-body);
    }
  }
}
